{% extends 'base.html.twig' %}

{% block title %}Comanda index{% endblock %}

{% block body %}
    <h1>Llista Comandes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Taula</th>
            <th>Comentari</th>
            <th>Preu Final</th>
            <th>Veure més</th>
        </tr>
        </thead>
        <tbody>
        {% for comanda in comandas %}
            <tr>
                <td>{{ comanda.id }}</td>
                <td>{{ comanda.taula.identificador }}</td>
                <td>{{ comanda.comentari }}</td>
                <td>{{ comanda.preuTotal }} €</td>
                <td><a href="{{ path('comanda_show', {'id': comanda.id}) }}" class="btn btn-dark"><i class="bi bi-eye"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}