{% extends 'base.html.twig' %}

{% block title %}Categoria index{% endblock %}
{% block nomBar %} {{ barLogged.nom }} {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-10 mt-5">
                <h1>Categoria index</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categorium in categorias %}
                        <tr>
                            <td>{{ categorium.id }}</td>
                            <td>{{ categorium.nom }}</td>
                            <td>
                                <a href="{{ path('categoria_show', {'id': categorium.id}) }}" class="btn btn-dark"><i class="bi bi-eye"></i></a>
                                <a href="{{ path('categoria_edit', {'id': categorium.id}) }}" class="btn btn-success"><i class="bi bi-pencil"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No s'ha trobat cap categoria</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('categoria_new') }}" class="btn btn-success"><i class="bi bi-plus"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
