{% extends 'base.html.twig' %}

{% block title %}New Producte{% endblock %}
{% block nomBar %} {{ barLogged.nom }} {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-10 mt-5">
                <h1>Crear un producte</h1>

                <form method="post" action="{{ path("producte_create") }}">
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="nom">
                    </div>
                    <div class="form-group">
                        <label for="preu">Preu</label>
                        <input type="number" class="form-control" min="0.01" step="0.01" name="preu" id="preu">
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <select class="form-control" name="categoria" id="categoria">
                            {% for categoria in categories %}
                                <option value="{{ categoria.id }}">{{ categoria.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-success">Crear <i class="bi bi-plus-lg"></i></button>
                </form>
            </div>
        </div>
    </div>
    <a href="{{ path('producte_index') }}" class="btn btn-dark m-5"><i class="bi bi-arrow-left"></i></a>
{% endblock %}
